# Image Pull Secret Template for GitHub Container Registry
# Use: make k8s-create-image-pull-secret to create this automatically
#
# Or manually create with:
# kubectl create secret docker-registry ghcr-secret \
#   --docker-server=ghcr.io \
#   --docker-username=GITHUB_USER \
#   --docker-password=GITHUB_TOKEN \
#   --namespace=simple-sso

apiVersion: v1
kind: Secret
metadata:
  name: ghcr-secret
  namespace: simple-sso
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: BASE64_ENCODED_DOCKER_CONFIG
